input[type = text], input[type = password]{
	width: 100%;
	font-size: 20px;
	padding: 12px;
	margin: 5px 0px 22px 0px;
	background: #b0a68b;
}
*{
	box-sizing: border-box;
}
label{
	font-size: 20px;
}
hr{
	border: 1px solid green;
}
button{
	font-size: 20px;
	background-color: rgb(10,120,15);
	color: white;;
	padding: 15px 20px;
	margin: 10px 0px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.6;
}
button:hover{
	opacity: 1;
}
.cancel{
	padding: 15px 20px;
	background-color: red;
}